/* LESS Document */
.appui-finder{
  background-color: #35BCFA;
  background-image: none;
  .bbn-toolbar, .bbn-menu, .bbn-menu-item.bbn-reactive-block, li.bbn-state-default, ul.bbn-router-tabs.bbn-tabs-tabs, a{
    background-color: #35BCFA;
    background-image: none;
    color: #FFF;
    border-color: #FFF !important;
  }
  li.bbn-state-default:hover, li.bbn-state-default:hover a{
    color: #35BCFA;
    background-color: #FFF;
  }
}